.main-wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

#grid {
  display: block;
  margin-top: -28px;
  cursor: crosshair;
  touch-action: none;
}

#grid.panning {
  cursor: grabbing;
}

a {
  color: inherit;
}

/* settings for specific tile width/height BEGIN */
.mapRow {
	padding: 0px;
	border: 0px;
	margin: 0px;
	height: 30px;
}
.mapRow span,
.mapCoords span,
.Llayer span.Licon {
	width: 30px;
	height: 30px;
	display: inline-block;
}
.lnotes .mapRow span a,
.lnotes .mapRow span a:visited {
	margin: 6px 0 0 6px;   /* 6px for tile width=30 */
}
.lnotes .mapRow span.ln2 a,
.lnotes .mapRow span.ln2 a:visited {
    width: 30px;
    height: 30px;
}
.lwallv, .lwallvm {	margin-left: -14px; }
.lwallh, .lwallhm {	margin-top: -14px; }
/* settings for specific tile width/height END  */

.lgrid, .Llgrid { background-image: url(../img/_grids.gif); }
.g1 { background-position: -30px 0px; }
.g2 { background-position: -60px 0px; }
.g3 { background-position: -90px 0px; }
.g4 { background-position: -120px 0px; }
.g5 { background-position: -150px 0px; }
.g6 { background-position: -180px 0px; }
.g7 { background-position: -210px 0px; }
.g8 { background-position: -240px 0px; }
.g9 { background-position: -270px 0px; }
.g10 { background-position: 0px 0px; }
.g11 { background-position: -390px 0px; }

.lfloor, .Llfloor { background-image: url(../img/_floors.gif); }
.f1 { background-position: -30px 0px; }
.f2 { background-position: -60px 0px; }
.f3 { background-position: -90px 0px; }
.f4 { background-position: -120px 0px; }
.f5 { background-position: -150px 0px; }
.f6 { background-position: -180px 0px; }
.f7 { background-position: -210px 0px; }
.f8 { background-position: -240px 0px; }
.f9 { background-position: -270px 0px; }
.f10 { background-position: -300px 0px; }
.f11 { background-position: -330px 0px; }
.f12 { background-position: -360px 0px; }
.f13 { background-position: -390px 0px; }

.lfloorm, .Llfloorm { background-image: url(../img/_floors_mark.gif); }
.fm1 { background-position: -30px 0px; }
.fm2 { background-position: -60px 0px; }
.fm3 { background-position: -90px 0px; }
.fm4 { background-position: -120px 0px; }
.fm5 { background-position: -150px 0px; }
.fm6 { background-position: -180px 0px; }
.fm7 { background-position: -210px 0px; }
.fm8 { background-position: -240px 0px; }
.fm9 { background-position: -270px 0px; }
.fm10 { background-position: -300px 0px; }
.fm11 { background-position: -330px 0px; }
.fm12 { background-position: -360px 0px; }
.fm13 { background-position: -390px 0px; }
.fm14 { background-position: -420px 0px; }
.fm15 { background-position: -450px 0px; }
.fm16 { background-position: -480px 0px; }

.lwallv, .Llwallv { background-image: url(../img/_wallsv.gif); }
.w1v { background-position: -30px 0px; }
.w2v { background-position: -60px 0px; }
.w3v { background-position: -90px 0px; }
.w4v { background-position: -120px 0px; }
.w5v { background-position: -150px 0px; }
.w6v { background-position: -180px 0px; }
.w7v { background-position: -210px 0px; }
.w8v { background-position: -240px 0px; }
.w9v { background-position: -270px 0px; }
.w10v { background-position: -300px 0px; }
.w11v { background-position: -330px 0px; }
.w12v { background-position: -360px 0px; }

.lwallh, .Llwallh { background-image: url(../img/_wallsh.gif); }
.w1h { background-position: 0px -30px; }
.w2h { background-position: 0px -60px; }
.w3h { background-position: 0px -90px; }
.w4h { background-position: 0px -120px; }
.w5h { background-position: 0px -150px; }
.w6h { background-position: 0px -180px; }
.w7h { background-position: 0px -210px; }
.w8h  { background-position: 0px -240px; }
.w9h  { background-position: 0px -270px; }
.w10h { background-position: 0px -300px; }
.w11h { background-position: 0px -330px; }
.w12h { background-position: 0px -360px; }

.lwallvm, .Llwallvm { background-image: url(../img/_wallsv_mark.gif); }
.wm1v { background-position: -30px 0px; }
.wm2v { background-position: -60px 0px; }
.wm3v { background-position: -90px 0px; }
.wm4v { background-position: -120px 0px; }
.wm5v { background-position: -150px 0px; }
.wm6v { background-position: -180px 0px; }
.wm7v { background-position: -210px 0px; }
.wm8v { background-position: -240px 0px; }
.wm9v { background-position: -270px 0px; }
.wm10v { background-position: -300px 0px; }
.wm11v { background-position: -330px 0px; }
.wm12v { background-position: -360px 0px; }
.wm13v { background-position: -390px 0px; }
.wm14v { background-position: -420px 0px; }

.lwallhm, .Llwallhm { background-image: url(../img/_wallsh_mark.gif); }
.wm1h { background-position: 0px -30px; }
.wm2h { background-position: 0px -60px; }
.wm3h { background-position: 0px -90px; }
.wm4h { background-position: 0px -120px; }
.wm5h { background-position: 0px -150px; }
.wm6h { background-position: 0px -180px; }
.wm7h { background-position: 0px -210px; }
.wm8h { background-position: 0px -240px; }
.wm9h { background-position: 0px -270px; }
.wm10h { background-position: 0px -300px; }
.wm11h { background-position: 0px -330px; }
.wm12h { background-position: 0px -360px; }
.wm13h { background-position: 0px -390px; }
.wm14h { background-position: 0px -420px; }

.Licon.ln1 { background-image: url(../img/_grids.gif); background-position: -300px 0px; }
.ln2, .Licon.ln2 { background-image: url(../img/_grids.gif); background-position: -330px 0px; }
.Licon.ln3 { background-image: url(../img/_grids.gif); background-position: -360px 0px; }

.tooltip {
  position: absolute;
  border-bottom: 1px dotted black;
  visibility: hidden;
}

.tooltip .tooltip-text {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
